<div class="login-card">
  <mat-card>
    <h2 style="text-align:center;">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
      <button mat-stroked-button color="primary">Login</button>
    </form>
    <div class="oauth-section">
      <button mat-stroked-button color="primary" (click)="loginWithMicrosoft()">
        Login with Microsoft
      </button>
    </div>
  </mat-card>
</div>